body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background: #f4f4f4;
}
header{
background:#4caf50;
color: white;
padding: 1rem;
text-align: center;
}
.products{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 2rem;
}
.product{
    background: white;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}
button{
    background: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem ;
    margin-top: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}
.button-hover{
    background: #4caf50;
}

footer{
    background: #333;
    color:  white;
    text-align: center;
    padding: 1rem;
}